ENVIRONMENT=ProductionConfig
AWS_ACCESS_KEY_ID=MY-KEY
AWS_SECRET_ACCESS_KEY=MY-KEY
BUCKET_NAME=bdc-archive
LC_ALL=C.UTF-8
LANG=C.UTF-8
RABBIT_MQ_URL=pyamqp://guest@inpe_cdsr_publisher_rabbitmq
DATA_DIR=/data
catalogo_DB_PASS=password
catalogo_DB_USER=root
catalogo_DB_HOST=inpe_cdsr_db:3306
catalogo_DB_DATABASE=catalog
operation_DB_PASS=password
operation_DB_USER=root
operation_DB_HOST=inpe_cdsr_db:3306
operation_DB_DATABASE=operation
grdb_DB_PASS=password
grdb_DB_USER=root
grdb_DB_HOST=inpe_cdsr_db:3306
grdb_DB_DATABASE=grdb
TZ:America/Sao_Paulo
